{% extends 'tapasapp/base.html' %}
{% load static %}

{% block sidebar %}
<a href = "{%url 'view_menu' %}" class = "list-group-item list-group-tem-action">
  Back to main
</a>
{% endblock %}


{% block content %}
<div class="container py-4">

  <div class="card" style="max-width: 60%;">
    <div class="card-header fw-bold pb-3">
      Type in Dish Details:
    </div>

    <div class="card-body">

      <form>
        <div class="mb-3">
          <label for="dish_name" class="form-label">Name:</label>
          <input type="text" id="dish_name" name="dish_name" class="form-control">
        </div>

        <div class="row mb-4">
          <div class="col-md-4">
            <label for="cook_time" class="form-label">Cook Time:</label>
            <input type="number" id="cook_time" name="cook_time" class="form-control">
          </div>

          <div class="col-md-4 offset-md-2">
            <label for="prep_time" class="form-label">Prep Time:</label>
            <input type="number" id="prep_time" name="prep_time" class="form-control">
          </div>
        </div>

        <button type="submit" class="btn btn-secondary">
          Add to dishes
        </button>
      </form>

    </div>
  </div>

</div>
{% endblock %}